* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  background-color: black;
}

input {
  outline: none;
}

.wrapper {
  max-width: 800px;
  min-width: 365px;
  width: 100%;
  height: 100vh;
  justify-self: center;
}

.header {
  width: 100%;
  height: 50px;
  /* background-color: hsl(189, 68%, 13%); */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 { 
  font-size: 1.5rem;
  font-family: Calibri, sans-serif;
  color: white;
}

.filter {
  background-color: hsl(65, 100%, 87%);
  background-color: hsl(63, 100%, 78%);
  padding: 5px;
  width: 100%;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: .4fr 1fr .4fr;
  grid-template-areas: 
    "search stocked new-entry"
    "overlay overlay overlay";
  align-items: center;
  font-size: .7rem;
}

.filter .search {
  grid-area: search;
}

.filter .search input {
  border: 0;
  border-radius: 5px;
  background-color: hsl(224, 100%, 97%);
  box-shadow: 1px 1px 5px #aaa;
  padding: 5px 7px;
  margin: 2px;
}

.filter .search input:focus {
  background-color: hsl(0, 0%, 90%);
}

.filter .stocked {
  grid-area: stocked;
  margin-left: 5px;
  text-wrap: nowrap
}

.filter .stocked input {
  margin: 3px 1px 0 3px;
  padding: 2px;
  width: 15px;
  height: 15px;
  background-color: white;
  box-shadow: 1px 1px 5px #aaa;
  appearance: none;
  border-radius: 2px;
}

.filter .stocked input:focus {
  background-color: hsl(0, 0%, 90%);
}

.filter .stocked input:checked {
  background-color: hsl(120, 54%, 39%);
}

.filter .new-entry {
  grid-area: new-entry;
  justify-self: right;
}

.new-entry button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  font-size: 0.7rem;
  color: hsl(120, 54%, 39%);
  box-shadow: 1px 1px 5px #aaa;
  padding: 5px 7px;
}

.new-entry button:hover {
  background-color: hsl(0, 0%, 90%);
  transition: 0.3s ease-in-out;
}

.new-entry button:active {
  background-color: hsl(0, 0%, 90%);
}

.overlay {
  grid-area: overlay;
  background-color: hsl(65, 100%, 87%);
  background-color: hsl(63, 100%, 78%);
  margin: 10px 0px 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #aaa;
  padding: 5px;
}

.overlay form input {
  border: 0;
  border-radius: 5px;
  background-color: hsl(224, 100%, 97%);
  box-shadow: 1px 1px 5px #aaa;
  padding: 5px 7px;
  margin: 4px;
}

.overlay form input:focus {
  background-color: hsl(0, 0%, 90%);
}

.overlay form button {
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(224, 100%, 97%);
  font-size: 0.7rem;
  color: hsla(0, 0%, 0%, 0.7);
  box-shadow: 1px 1px 5px #aaa;
  padding: 5px 7px;
  margin: 2px;
}

.overlay form button:hover {
  background-color: hsl(0, 0%, 90%);
  transition: 0.3s ease-in-out;
}

.content {
  background-color: black;
  width: 100%;
}

.content .loading {
  background-color: black;
  height: 100vh;
  color: white;
  font-size: 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.ice-cream-item {
  background-color: hsl(191, 100%, 77%);
  background-color: aquamarine;
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: grid;
  gap: .5em;
  grid-template-columns: 1fr .3fr;
  grid-template-areas: 
    "details buttons";
}

.ice-cream-item .details {
  grid-area: details;
  font-size: .9rem;
}

.ice-cream-item .details .ice-cream {
  font-weight: bold;
}

.ice-cream-item .buttons {
  grid-area: buttons;
  text-wrap: nowrap;
  justify-self: right;
}

.ice-cream-item button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  background-color: hsl(224, 100%, 97%);
  color: hsla(0, 0%, 0%, 0.7);
  box-shadow: 1px 1px 5px #aaa;
  margin: 4px 2px;
  font-size: .6rem;
  font-weight: bold;
}

.ice-cream-item button:hover {
  background-color: hsla(0, 0%, 73%, 0.495);
  transition: ease-in-out .3s;
}
